---
import PastEventEntry from "./PastEventEntry.astro";
const { data } = Astro.props;
---

<div class="wrapper">
  <h1>Past Events</h1>
  <img src="https://i.imgur.com/7QCvE7b.png" class="star1" />
  <img src="https://i.imgur.com/o44hbTS.png" class="star2" />
  {
    data.map((event, i) => {
      return (
        <div class="pastevent-entry-wrapper" id="pastEvent">
          <PastEventEntry eventData={event} key={i} index={i} />
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .star1,
  .star2 {
    position: absolute;
  }
  .star1 {
    top: 7rem;
    left: 3rem;
  }
  .star2 {
    right: 2rem;
    top: 5rem;
    rotate: 10deg;
  }
  .wrapper {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
    // background: var(--brown-400);
    border-radius: 20px; // was 8
    overflow: hidden;
    position: relative;

    h1 {
      // font-family: "Denim-regular";
      color: var(--brown-300);
      text-align: center;
      margin: 5rem 0;
    }
  }

  .pastevent-entry-wrapper {
    margin: 1rem auto;
    background: var(--brown-400);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
  }

  @media (max-width: 768px) {
    .wrapper {
      // width: 100%;
      // border-radius: 0;
    }
    .star1 {
      top: 5.5rem;
      left: 0rem;
      width: 100px;
    }
    .star2 {
      right: 0.5rem;
      top: 4rem;
      rotate: 10deg;
      width: 100px;
    }
    .pastevent-entry-wrapper {
      border-radius: 12px;
    }
  }

  @media (max-width: 576px) {
    .wrapper {
      border-radius: 8px;
      margin-top: 0;
      transform: translateY(-4rem);
      h1 {
        margin: 3rem 0;
      }
    }
    .pastevent-entry-wrapper {
      margin: 0.5rem auto;
      display: block;
    }
  }
</style>
