@import url("./reset.css");


:root {
  --beige-300: #F9F8F3;
  --beige-200: #FBFBF9;
  --beige-100: #FFFFFD;
  
  --brown-400: #100D0B;
  --brown-300: #1E1510;
  --brown-200: #433E3A;
  --brown-100: #6C645D;
  
  --grey-300: #8D8D8D;
  --grey-200: #9F9F9F;
  --grey-100: #D8D8D8;

  --red: #9b0000;
  --green: #22AB00;

  --mobile-width: 95%;
}

@font-face {
  font-family: "Bradford-Book";
  src: url("../fonts/Bradford-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: "Bradford-Light";
  src: url("../fonts/Bradford-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: "Bradford-Light-Italic";
  src: url("../fonts/Bradford-Light-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: "Bradford-Book";
  src: url("../fonts/Bradford-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: "Denim-Regular";
  src: url("../fonts/Denim-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: "Denim-Medium";
  src: url("../fonts/Denim-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, small {
  font-weight: 100;
}

h1 {
  font-size: 3.333vw;
  line-height: 130%;
  letter-spacing: -0.02rem;
  font-family: "Bradford-Light";
}

h2 {
  font-size: 96px;
  line-height: 130%;
  letter-spacing: -0.02rem;
  font-family: "Bradford-Light";
}

h3 {
  font-size: 42px;
  line-height: 130%;
  letter-spacing: -0.02rem;
  font-family: "Denim-Medium";
}

h4 {
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.01rem;
  font-family: "Bradford-Book";
}

h5 {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -0.02rem;
  font-family: "Bradford-Light";
}

h6 {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.01rem;
  font-family: "Denim-Regular";
}

p, input {
  font-size: 20px;
  line-height: 130%;
  font-family: "Denim-Regular";
}

small, label {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01rem;
  font-family: "Denim-Regular";
}

@media (max-width: 1500px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 28px;
  }
 h4 {
  font-size: 32px;
 }
 h5 {
  font-size: 26px;
 }
  h6 {
    font-size: 18px;
  }
  p, input {
    font-size: 18px;
}
}
@media (max-width: 1280px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
  }
  p, input {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    letter-spacing: -0.02rem;
  }
  h2 {
    font-size: 48px;
    letter-spacing: -0.02rem;
  }
  h3 {
    font-size: 21px;
  }
  h5 {
    font-size: 21px;
  }
  h6 {
    font-size: 16px;
  }
  small, label {
    font-size: 12px;
    letter-spacing: 0.01rem;
    line-height: 115%;
  }
}

@keyframes float {
  0% {
    transform: translate(
      calc(cos(0deg) * var(--radius)),
      calc(sin(0deg) * var(--radius))
    );
  }
  6% {
    transform: translate(
      calc(cos(22.5deg) * var(--radius)),
      calc(sin(22.5deg) * var(--radius))
    );
  }
  12% {
    transform: translate(
      calc(cos(45deg) * var(--radius)),
      calc(sin(45deg) * var(--radius))
    );
  }
  18% {
    transform: translate(
      calc(cos(67.5deg) * var(--radius)),
      calc(sin(67.5deg) * var(--radius))
    );
  }
  25% {
    transform: translate(
      calc(cos(90deg) * var(--radius)),
      calc(sin(90deg) * var(--radius))
    );
  }
  31% {
    transform: translate(
      calc(cos(112.5deg) * var(--radius)),
      calc(sin(112.5deg) * var(--radius))
    );
  }
  37% {
    transform: translate(
      calc(cos(135deg) * var(--radius)),
      calc(sin(135deg) * var(--radius))
    );
  }
  43% {
    transform: translate(
      calc(cos(157.5deg) * var(--radius)),
      calc(sin(157.5deg) * var(--radius))
    );
  }
  50% {
    transform: translate(
      calc(cos(180deg) * var(--radius)),
      calc(sin(180deg) * var(--radius))
    );
  }
  56% {
    transform: translate(
      calc(cos(202.5deg) * var(--radius)),
      calc(sin(202.5deg) * var(--radius))
    );
  }
  62% {
    transform: translate(
      calc(cos(225deg) * var(--radius)),
      calc(sin(225deg) * var(--radius))
    );
  }
  68% {
    transform: translate(
      calc(cos(247.5deg) * var(--radius)),
      calc(sin(247.5deg) * var(--radius))
    );
  }
  75% {
    transform: translate(
      calc(cos(270deg) * var(--radius)),
      calc(sin(270deg) * var(--radius))
    );
  }
  81% {
    transform: translate(
      calc(cos(292.5deg) * var(--radius)),
      calc(sin(292.5deg) * var(--radius))
    );
  }
  87% {
    transform: translate(
      calc(cos(315deg) * var(--radius)),
      calc(sin(315deg) * var(--radius))
    );
  }
  93% {
    transform: translate(
      calc(cos(337.5deg) * var(--radius)),
      calc(sin(337.5deg) * var(--radius))
    );
  }
  100% {
    transform: translate(
      calc(cos(360deg) * var(--radius)),
      calc(sin(360deg) * var(--radius))
    );
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    background: var(--brown-100);
  }
  100% {
    background: var(--brown-200);
  }
}



@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: translate(0,0) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}