---
import "../styles/reset.css";
import "../styles/global.scss";
import Footer from "../components/Footer.astro";
// import Footer from "../components/Footer.astro";

const { title, data } = Astro.props;

const description =
  "seeyousoon is a creative culinary collective founded by Kevin Le, Michael Ovejas and Keith Siu. Their work focuses on creating memorable dining experiences inspired by art and fashion.";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title ? title : "see you soon"}</title>
    <meta name="title" content={title || settings.title} />
    <meta name="description" content={description || settings.description} />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#433e3a" />
    <meta name="msapplication-TileColor" content="#F9F8F3" />
    <meta name="theme-color" content="#F9F8F3" />
    <meta property="og:image" content="https://i.imgur.com/LTaxkhZ.png" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
    {Astro.url.pathname != "/404" && <Footer data={data} />}
  </body>
</html>

<style>
  body {
    background: var(--beige-300);
  }
</style>
<script>
  console.log(`
  Made with love by\n
 ad88888ba   88  88                            
d8'     '8b  88  ''                            
Y8,          88                                
\`Y8aaaaa,    88  88  8b,dPPYba,    ,adPPYb,d8  
  \`''''''8b, 88  88  88P'   \`'8a  a8'    \`Y88  
        \`8b  88  88  88       88  8b       88  
Y8a     a8P  88  88  88       88  '8a,   ,d88  
 'Y88888P'   88  88  88       88   ''YbbdP'Y8  
                                   aa,    ,88  
                                    'Y8bbdP'   
`);
  console.log(
    "%c https://www.sling.online/",
    "color: #CDDF00; font-size: 16px; font-family: Arial; font-stretch: condensed;"
  );
</script>
