---
import PastEventEntry from "./PastEventEntry.astro";
import sample from "../../assets/pastEvents/sample.png";

const { data } = Astro.props;
---

<div class="wrapper">
  <h1>Past Events</h1>
  {
    data.map((event, index) => {
      return (
        <div class="pastevent-entry-wrapper">
          <PastEventEntry eventData={event} key={index}/>
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .wrapper {
    width: 98%;
    margin: 0 auto;
    background: var(--brown-400);
    border-radius: 8px;
    overflow: hidden;

    h1 {
      color: var(--beige-300);
      text-align: center;
      margin-top: 5rem;
    }
  }

  .pastevent-entry-wrapper {
    margin: 5rem auto;
  }
</style>
