---
import { Image } from "astro:assets";
import SysStar from "../../assets/sys-star.png";
import PastEventEntry from "./PastEventEntry.astro";
const { data } = Astro.props;
---

<div class="mobile-star-wrapper">
  <Image
    src={SysStar}
    alt="sys star"
    class="mobile-star"
    quality="low"
    width="50"
    height="50"
  />
</div>
<div class="wrapper">
  <h1>Past Events</h1>
  {
    data.map((event, i) => {
      return (
        <div class="pastevent-entry-wrapper">
          <PastEventEntry eventData={event} key={i} index={i} />
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .mobile-star-wrapper {
    display: none;
  }
  .wrapper {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
    background: var(--brown-400);
    border-radius: 20px; // was 8
    overflow: hidden;
    position: relative;

    h1 {
      color: var(--beige-300);
      text-align: center;
      margin: 5rem 0;
    }
  }

  .pastevent-entry-wrapper {
    margin: 4rem auto;
  }

  @media (max-width: 768px) {
    .wrapper {
      // width: 100%;
      // border-radius: 0;
    }

    .mobile-star-wrapper {
      display: block;
      padding: 3rem 0;
      padding-top: 0;
      .mobile-star {
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 576px) {
    .wrapper {
      border-radius: 8px;
      h1 {
        margin: 3rem 0;
      }
    }
    .pastevent-entry-wrapper {
      margin: 3rem auto;
      display: block;
    }
  }
</style>
