---
import PastEventEntry from "./PastEventEntry.astro";
const { data } = Astro.props;
---

<div class="wrapper">
  <h1>Past Events</h1>
  {
    data.map((event, i) => {
      return (
        <div class="pastevent-entry-wrapper">
          <PastEventEntry eventData={event} key={i} index={i} />
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .wrapper {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
    background: var(--brown-400);
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    h1 {
      color: var(--beige-300);
      text-align: center;
      margin-top: 5rem;
    }
  }

  .pastevent-entry-wrapper {
    margin: 5rem auto;
  }

  @media (max-width: 768px) {
    .wrapper {
      // width: 100%;
      // border-radius: 0;
    }
  }
</style>
