---
const { data } = Astro.props;

import Desktop from "./Desktop.astro";
import Mobile from "./Mobile.astro";
---

<div class="toastWrapper">
  <Desktop data={data} />
  <Mobile data={data} />
</div>

<style lang="scss">
  .toastWrapper {
    z-index: 10;
    position: fixed;
    bottom: 3.5vh;
    right: 1vw;
  }

  @media (max-width: 576px) {
    .toastWrapper {
      z-index: 100;
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1rem;
    }
  }
</style>
