---
import Layout from "../layouts/Layout.astro";
import { getCurrentLocation } from "../sanity/api";
const currentLocationData = await getCurrentLocation();

const upcomingEventsData = [
  {
    title: "Lake Inez",
    location: "11471 Gerrard St E, Toronto, ON",
    isResidency: false,
    eventLink:
      "https://observablehq.com/@plmrry/positioning-text-with-matter-js",
    dateStart: "2025-08-07T09:00:00.000Z",
    dateEnd: "2025-08-07T14:00:00.000Z",
    locationLink: "https://maps.app.goo.gl/SrjPyTBLCca8RiwXA",
    _id: "66d2040c-4605-4327-a08e-3651494d848c",
  },
  {
    title: "Oranj",
    location: "14 Bacon St, London, UK",
    locationLink: "https://maps.app.goo.gl/sLDFYqta2r1TAkLR6?g_st=ic",
    _id: "f7dad2e7-d021-41fb-8f16-f726b45ad5a2",
    isResidency: true,
    eventLink: "https://resy.com/cities/ny/gem?seats=2&date=2024-04-01",
    dateStart: "2025-08-31T09:00:00.000Z",
    dateEnd: "2025-12-24T14:00:00.000Z",
  },
  {
    title: "Gem NYC",
    location: "297 Broome St, New York, NY",
    locationLink: "https://maps.app.goo.gl/sLDFYqta2r1TAkLR6?g_st=ic",
    _id: "f7dad2e7-d021-41fb-8f16-f726b45ad5a2",
    isResidency: true,
    eventLink: "https://resy.com/cities/ny/gem?seats=2&date=2024-04-01",
    dateStart: "2025-04-01T09:00:00.000Z",
    dateEnd: "2025-04-30T14:00:00.000Z",
  },
];
import DemoUpcomingEvents from "../components/UpcomingEvents/demoUpcomingEvents.astro";
---

<Layout title="seeyousoon" data={currentLocationData}>
  <div class="spacer"></div>
  <section class="upcoming-events" id="upcomingEvents">
    <DemoUpcomingEvents data={upcomingEventsData} />
  </section>
  <div class="spacer"></div>
</Layout>

<style>
  .spacer {
    height: 100vh;
  }
  .upcoming-events {
    position: relative;
    z-index: 13;
    margin-top: 1rem;
    background: white;
  }
</style>
