---
import Layout from "../layouts/Layout.astro";
import MagneticHero from "../components/Hero/MagneticHero.astro";
import HeroContent from "../components/Hero/HeroContent.astro";
import UpcomingEvents from "../components/UpcomingEvents/UpcomingEvents.astro";
import PastEvents from "../components/PastEvents/PastEvents.astro";

import { getPastEvents } from "../sanity/api";
import Newsletter from "../components/Newsletter.astro";
import About from "../components/About/About.astro";

const pastEventsData = await getPastEvents();
---

<Layout title="Welcome to Astro.">
  <section class="hero" id="magneticHero-wrapper">
    <HeroContent />
    <MagneticHero />
  </section>
  <div class="upcoming-events">
    <div class="title-marquee" id="title-marquee">
      <h2>Upcoming Events · Upcoming Events ·</h2>
    </div>
    <UpcomingEvents />
  </div>
  <section class="about">
    <About />
  </section>
  <section class="past-events">
    <PastEvents data={pastEventsData} />
  </section>
  <Newsletter />
</Layout>

<style lang="scss">
  .hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 99vh;
  }

  .past-events {
  }

  .title-marquee {
    display: block;
    width: 100%;
    background: var(--brown-400);
    width: 98%;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 8px;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
      padding: 6rem auto;
      color: var(--beige-300);
      // background: var(--brown-400);
    }
  }
</style>

<script>
  import marquee from "vanilla-marquee";

  document.addEventListener("DOMContentLoaded", function () {
    const marquees = document.querySelectorAll("#title-marquee");

    marquees.forEach((el) => {
      new marquee(el, {
        duplicated: true,
        gap: 30,
        speed: 100,
        // pauseOnHover: true,
        startVisible: true,
        recalcResize: true,
      });
    });
  });
</script>
