---
import Layout from "../layouts/Layout.astro";
// import { Image } from "astro:assets";
import MagneticHero from "../components/MagneticHero.astro";
import PastEvents from "../components/PastEvents/PastEvents.astro";
---

<Layout title="Welcome to Astro.">
  <section class="hero" id="magneticHero-wrapper">
    <MagneticHero />
  </section>
  <section class="past-events">
    <PastEvents />
  </section>
</Layout>

<style>
  .hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 99vh;
  }

  .past-events {
  }
</style>
