---
import Layout from "../layouts/Layout.astro";
import MagneticHero from "../components/Hero/MagneticHero.astro";
import HeroContent from "../components/Hero/HeroContent.astro";
import UpcomingEvents from "../components/UpcomingEvents/UpcomingEvents.astro";
import PastEvents from "../components/PastEvents/PastEvents.astro";

import { getPastEvents } from "../sanity/api";
import Newsletter from "../components/Newsletter.astro";
import About from "../components/About/About.astro";

const pastEventsData = await getPastEvents();
---

<Layout title="Welcome to Astro.">
  <section class="hero" id="magneticHero-wrapper">
    <HeroContent />
    <MagneticHero />
  </section>
  <div class="upcoming-events">
    <UpcomingEvents />
  </div>
  <section class="about">
    <About />
  </section>
  <section class="past-events">
    <PastEvents data={pastEventsData} />
  </section>
  <Newsletter />
</Layout>

<style lang="scss">
  .hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 99vh;
  }

  .past-events {
  }
</style>

