---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg">
    <h1>This is an h1 heading</h1>
    <br />
    <br />
    <h2>This is an h2 heading</h2>
    <br />
    <br />
    <h3>This is an h3 heading</h3>
    <br />
    <br />
    <h4>This is an h4 heading</h4>
    <br />
    <br />
    <h5>This is an h5 heading</h5>
    <br />
    <br />
    <h6>This is an h6 heading</h6>
    <br />
    <br />

    <p>This is a paragraph. </p>
    <br />
    <br />

    <small>This is small text.</small>
    <br />
    <br />
  </div>
</Layout>

<style>
  .bg {
    background: var(--beige-300);
    color: var(--brown-300);
    display: grid;
    place-items: center;
    margin: 5rem 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    small {
      margin-bottom: 2rem;
    }
  }
</style>
