---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="vh-spacer"><h1>spacer</h1></div>
  <div class="wrapper" id="sticky-area">
    <div class="content content--sticky content--grid item1">
      <div class="el-inner">
        <h1>test content 1</h1>
      </div>
    </div>
    <div class="content content--sticky content--grid item2">
      <div class="el-inner">
        <h1>test content 2</h1>
      </div>
    </div>
    <div class="content content--sticky content--grid item3">
      <div class="el-inner">
        <h1>test content 3</h1>
      </div>
    </div>
    <div class="content content--sticky content--grid item4">
      <div class="el-inner">
        <h1>test content 4</h1>
      </div>
    </div>
  </div>
  <div class="vh-spacer"><h1>spacer</h1></div>
</Layout>

<style lang="scss">
  .vh-spacer {
    height: 100vh;
    background: var(--brown-400);
    h1 {
      color: white;
    }
  }
  .wrapper {
    background: black;
    overflow: hidden;
    width: 100%;
  }

  .item1 {
    background: var(--grey-100);
  }
  .item2 {
    background: var(--grey-200);
  }
  .item3 {
    background: var(--brown-100);
  }
  .item4 {
    background: var(--brown-200);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content--sticky {
    width: 100%;
    // position: sticky;
    top: 0;
    --offset: 0px;
    top: var(--offset);
    height: calc(100vh - var(--offset));
    // transform-origin: 50% 0% 0px;
    transform-origin: 100% 0% 0px;
    /* opacity: 1; */
  }
  .el-inner {
    // opacity: 0;
  }
</style>

<script>
  import { animate, scroll, ScrollOffset, timeline } from "motion";

  const contentElements = [...document.querySelectorAll(".content--sticky")];
  const totalContentElements = contentElements.length;

  contentElements.forEach((el, position) => {
    // const inner = el.querySelector(".el-inner");

    const isLast = position === totalContentElements - 1;
    const offsetVal = isLast
      ? ["start start", "end start"]
      : ["center -100px", "center end"];

    // const scaleVal = isLast ? 1 : [0.5, 1];

    const sequence = [
      [
        el,
        {
          // scale: [1, 0.5],
          // opacity: [null, 0.99, 0.99, 0],
          // y: "50%",
          opacity: 0,
          y: "60%",
          rotate: -20,
          borderRadius: "20px",
          scale: 0.75,
          // filter: "brightness(60%) contrast(135%)",
        },
      ],
    ];

    scroll(timeline(sequence), {
      target: el,
      offset: ["1 1", "1 0"],
    });
  });
</script>
