---
const { data } = Astro.props;
---

<footer class="wrapper" id="footerTrack">
  <div class="spacer-el"></div>
  <div class="sticky-inner">
    <div class="video" id="footerVideo">
      <div class="video-text">
        <h2 class="sys-text">see you soon!</h2>
        <div class="socials">
          <h3>
            Instagram <a
              class="socials-link"
              href="https://www.instagram.com/seeyousoon.to/"
              rel="noreferrer"
              target="_blank">@seeyousoon.to</a
            >
          </h3>
          <h3>Email <a class="socials-link">info@seeyousoon.to</a></h3>
        </div>
      </div>
      <video
        class="video-media"
        preload="metadata"
        autoplay
        playsinline
        muted
        loop
      >
        <source
          src="https://sys-video.s3.ca-central-1.amazonaws.com/sys-footer.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="credits">
      <div class="credits-item">
        <small class="location-flex">
          <span class="current-location"> Currently in</span>
          {data.location ? data.location : "Toronto"}</small
        >
      </div>
      <div class="credits-item">
        <small>©{new Date().getFullYear()} seeyousoon</small>
      </div>
      <div class="credits-item">
        <small> Website by <a href="https://www.sling.online/">Sling</a></small>
      </div>
    </div>
  </div>
</footer>

<script>
  import { scroll, timeline } from "motion";

  const scrollTrack = document.getElementById("footerTrack");
  const video = document.getElementById("footerVideo");

  const sequence = [[video, { height: "90vh" }]];

  scroll(timeline(sequence), {
    target: scrollTrack,
  });
</script>

<style lang="scss">
  .wrapper {
    width: 98%;
    margin: 0 auto;
    background: var(--beige-300);
    // min-height: 150vh;
    z-index: 11;
    position: relative;
  }
  .spacer-el {
    height: 100vh; // was 150 or 200vh
  }
  .sticky-inner {
    position: sticky;
    bottom: 1rem;
  }
  .video {
    will-change: height;
    background: var(--grey-100);
    border-radius: 8px;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex; // Use Flexbox
    flex-direction: column; // Stack children vertically
    align-items: center; // Center horizontally
    justify-content: center; // Center vertically

    .video-media {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      filter: brightness(0.7);
      // width: 100%;
      // object-fit: cover;
      // filter: brightness(0.7);
    }

    .video-text {
      width: 90%;
      margin: 0 auto;
      position: absolute;
      z-index: 10;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
    }
  }

  .sys-text {
    color: var(--beige-100);
    font-family: "Bradford-Light-Italic";
    letter-spacing: -0.4rem;
    line-height: unset;
    font-size: 8.3vw;
    transform: rotate(-4.5deg) translateY(-30px);
  }
  .socials {
    color: var(--beige-100);
    .socials-link:before {
      content: "";
      display: block;
      background: var(--beige-100);
      height: 1px;
      width: 32px;
      margin: 0 1rem;
    }

    h3 {
      font-family: "Bradford-Light";
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Bradford-Light-Italic";
      }
    }
  }
  .socials-link {
    cursor: pointer;
    color: var(--beige-100);
    text-decoration: none;
  }
  .socials-link:hover {
    animation: wiggle 0.25s;
  }
  .socials-link:before:hover {
    animation: none;
  }

  .credits {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Denim-Regular";

    small {
      font-size: 14px;
      color: var(--grey-300);
    }
    .location-flex {
      display: flex;
    }
    .current-location {
      color: var(--brown-300);
      display: flex;
      align-content: flex-end;
      margin-right: 0.25rem;
    }
    .current-location:before {
      content: "";
      margin-right: 0.5rem;
      width: 7px;
      height: 7px;
      background: #708db5;
      transform: translateY(5px);
      display: block;
      border-radius: 10px;
      animation: blink 1.6s infinite;
    }
  }

  .credits-item {
    display: flex;
    a {
      color: var(--grey-300);
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 1200px) {
    .sys-text {
      font-size: 9vw;
      letter-spacing: -0.2rem;
    }
  }
  @media (max-width: 992px) {
    .sys-text {
      font-size: 14vw;
      letter-spacing: -0.2rem;
      margin: 0 auto;
    }
    .video {
      .video-media {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        filter: brightness(0.7);
        // width: 100%;
        // object-fit: cover;
        // filter: brightness(0.7);
      }
      .video-text {
        flex-direction: column;
      }
      .socials {
        h3 {
          font-size: 34px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .credits {
      height: 11px;
      align-items: center;
      small {
        font-size: 10px;
        line-height: 100%;
      }
      .current-location {
        margin-right: 4px;
      }
      .current-location:before {
        transform: translateY(3px);
        margin-right: 4px;
        width: 5px;
        height: 5px;
      }
    }

    .video {
      .video-text {
        width: 100%;
        flex-direction: column;
        .socials {
          margin-top: 2rem;
          h3 {
            font-size: 22px;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .sys-text {
      margin: 0 auto;
      font-size: 16vw;
      letter-spacing: -0.1rem;
    }
  }
</style>
