---

---

<div class="hero-content-wrapper">
  <div class="hero-header">
    <h1 id="heroTitle">
      We create private dinners, food-focused events, and other fun stuff.
    </h1>
  </div>
  <div class="hero-contact" id="heroContact">
    <!-- <h5>Contact</h5> -->
    <a
      href="https://www.instagram.com/seeyousoon.to/"
      target="_blank"
      rel="noreferrer"
    >
      <h5>@seeyousoon.to</h5>
    </a>
    <a href="mailto:info@seeyousoon.to" target="_blank" rel="noreferrer">
      <h5>info@seeyousoon.to</h5>
    </a>
  </div>
</div>

<style lang="scss" is:global>
  .hero-content-wrapper {
    z-index: 11;
    position: relative;
    // margin-left: 2.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  .hero-header {
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    max-width: 60vw;
    color: var(--brown-300);
    z-index: 3;
  }
  .hero-contact {
    margin-left: 2.5vw;
    position: absolute;
    bottom: 2.5vh;
    z-index: 3;
    h5 {
      color: var(--grey-300);
    }

    a {
      text-decoration: none;
      h5 {
        color: var(--brown-300);
        font-family: "Bradford-Light-Italic";
      }
    }
  }

  @media (max-width: 1500px) {
    .hero-header {
      max-width: 70vw;
    }
  }
  @media (max-width: 768px) {
    .hero-header {
      max-width: 80vw;
    }
  }
  @media (max-width: 576px) {
    .hero-header {
      max-width: 96vw;
    }
    .hero-contact {
      margin-bottom: 5vh;
    }
  }

  #heroTitle,
  #heroContact {
    opacity: 0;
    filter: blur(10px);
  }
</style>

<script>
  import { animate } from "motion";

  const heroTitle = document.getElementById("heroTitle");
  const heroContact = document.getElementById("heroContact");

  animate(
    heroTitle,
    {
      opacity: 1,
      filter: `blur(0)`,
    },
    {
      duration: 0.6,
    }
  );

  animate(
    heroContact,
    {
      opacity: 1,
      filter: `blur(0)`,
    },
    {
      duration: 0.6,
    }
  );
</script>
