---
---

<div class="wrapper">
  <div class="header">
    <h1>We create private dinners, food-focused events and other fun stuff.</h1>
  </div>
  <div class="contact">
    <h5>Contact</h5>
    <h5>
      @seeyousoon.to
    </h5>
    <h5>
      info@seeyousoon.to
    </h5>
  </div>
</div>

<style lang="scss">
  .wrapper {
    margin-left: 2.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  .header {
    margin-top: 2.5vh;
    max-width: 60vw;
    color: var(--brown-300);
  }
  .contact {
    
  }
</style>
