---

---

<div class="wrapper">
  <div class="header">
    <h1>We create private dinners, food-focused events and other fun stuff.</h1>
  </div>
  <div class="contact">
    <h5>Contact</h5>
    <a
      href="https://www.instagram.com/seeyousoon.to/"
      target="_blank"
      rel="noreferrer"
    >
      <h5>@seeyousoon.to</h5>
    </a>
    <a href="mailto:info@seeyousoon.to" target="_blank" rel="noreferrer">
      <h5>info@seeyousoon.to</h5>
    </a>
  </div>
</div>

<style lang="scss">
  .wrapper {
    z-index: 10;
    position: relative;
    // margin-left: 2.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    max-width: 60vw;
    color: var(--brown-300);
    z-index: 3;
  }
  .contact {
    margin-left: 2.5vw;
    position: absolute;
    bottom: 1rem;
    z-index: 3;
    h5 {
      color: var(--grey-300);
    }

    a {
      text-decoration: none;
      h5 {
        color: var(--brown-300);
        font-family: "Bradford-Light-Italic";
      }
    }
  }

  @media (max-width: 1500px) {
    .header {
      max-width: 70vw;
    }
  }
  @media (max-width: 768px) {
    .header {
      max-width: 80vw;
    }
  }
  @media (max-width: 576px) {
    .header {
      max-width: 96vw;
    }
  }
</style>
