<div class="hero-content-wrapper">
  <div class="hero-header">
    <h1 id="heroTitle">
      We create private dinners, food-focused events, and other fun stuff.
    </h1>
  </div>
  <div class="hero-contact" id="heroContact">
    <!-- <h5>Contact</h5> -->
    <a
      class="hero-contact-item"
      href="https://www.instagram.com/seeyousoon.to/"
      target="_blank"
      rel="noreferrer"
    >
      <h5>@seeyousoon.to</h5>
    </a>
    <a
      class="hero-contact-item"
      href="mailto:info@seeyousoon.to"
      target="_blank"
      rel="noreferrer"
    >
      <h5>info@seeyousoon.to</h5>
    </a>
  </div>
</div>

<style lang="scss" is:global>
  .hero-content-wrapper {
    z-index: 11;
    position: relative;
    // margin-left: 2.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  .hero-header {
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    max-width: 62vw;
    color: var(--brown-300);
    z-index: 3;
  }
  .hero-contact-item {
    display: block;
    transform-origin: center;
    margin-top: 0.25rem;
  }
  .hero-contact-item:hover {
    animation: 0.3s wiggle;
    opacity: 0.75;
  }
  .hero-contact {
    margin-left: 2.5vw;
    position: absolute;
    bottom: 2.5vh;
    z-index: 3;
    h5 {
      color: var(--grey-300);
    }

    a {
      text-decoration: none;
      h5 {
        color: var(--brown-300);
        font-family: "Bradford-Light-Italic";
      }
    }
  }

  @media (max-width: 1500px) {
    .hero-header {
      max-width: 65vw;
    }
  }
  @media (max-width: 992px) {
    .hero-header {
      max-width: 80vw;
    }
  }
  @media (max-width: 576px) {
    .hero-header {
      max-width: 96vw;
    }
    .hero-contact {
      // margin-bottom: 6.5vh;
    }
  }

  #heroTitle,
  #heroContact {
    opacity: 0;
    filter: blur(10px);
  }
</style>

<script>
  import { animate } from "motion";

  const heroTitle = document.getElementById("heroTitle");
  const heroContact = document.getElementById("heroContact");
  const toastDismissBtn = document.getElementById("closeToastMobile");

  let upcomingEventExists = "";

  if (toastDismissBtn) {
    upcomingEventExists = toastDismissBtn.getAttribute("data-has-event");
  }

  animate(
    heroTitle,
    {
      opacity: 1,
      filter: `blur(0)`,
    },
    {
      duration: 0.6,
    }
  );

  animate(
    heroContact,
    {
      opacity: 1,
      filter: `blur(0)`,
    },
    {
      duration: 0.6,
    }
  );

  if (window.innerWidth < 567 && toastDismissBtn && upcomingEventExists) {
    animate(
      heroContact,
      {
        y: "-48px",
      },
      {
        delay: 2,
      }
    );
    toastDismissBtn.addEventListener("click", () => {
      animate(
        heroContact,
        {
          y: "0",
        },
        {
          duration: 0.75,
        }
      );
    });
  }
</script>
